<div id="signin">

  <h2>Signin</h2>

  <form id="form" action="/auth/signin" method="POST">
    
    <label for="username">Username: </label>
    <input type="text" id="username" name="userName" placeholder="Your username" />

    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="********" />

    <button type="submit">Signin</button>

    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

  </form>
  
</div>