<div id="signup">
  <h2>Signup</h2>
  <form id="form" action="/users" method="POST">

    <label for="firstname">First Name</label>
    <input type="text" id="firstname" name="firstName" placeholder="First Name" />

    <label for="lastname">Last Name</label>
    <input type="text" id="lastname" name="lastName" placeholder="Last Name" />

    <label for="username">Username</label>
    <input type="text" id="username" name="userName" placeholder="Your username" />

    <label for="input-email">Email</label>
    <input type="email" id="input-email" name="email" placeholder="Your email" />

    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="********" />

    <button type="submit">Create account</button>

    {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
  </form>
</div>