<form action="/profile/edit" method="post" enctype="multipart/form-data">
  <label>Profile</label>
  <input type="file" name="photo">
  <br>
  <label>Background</label>
  <input type="file" name="background">
  <br>         
  <input type="submit" value="SAVE">                            
</form>