<!-- Header
    ================================================= -->
		<header id="header">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="/images/flow-logo.png" alt="logo" /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            

            <form class="navbar-form navbar-right hidden-sm">
              <div class="form-group">
                <input type="text" class="form-control login-input" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="password" class="form-control login-input" placeholder="Password">
              </div >
              <div class="form-group">
                <button class="btn-secondary-login">Log In</button>              
            </div>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>
    <!--Header End-->

    <!-- Top Banner
    ================================================= -->
		<section id="banner">
			<div class="container">

        <!-- Sign Up Form
        ================================================= -->
        <div class="sign-up-form">
					<h2 class="text-white">SIGN UP</h2>
					<div class="line-divider"></div>
					<div class="form-wrapper">
						<form id="form" action="/signup" method="POST">
							<fieldset class="form-group">
								<input type="text" class="form-control" id="firstname" name="firstName" placeholder="First Name">
							</fieldset>
              <fieldset class="form-group">
								<input type="text" class="form-control" id="lastname" name="lastName" placeholder="Last Name">
							</fieldset>
              <fieldset class="form-group">
								<input type="text" class="form-control" id="username" name="userName" placeholder="Username">
							</fieldset>
							<fieldset class="form-group">
								<input type="email" class="form-control" id="input-email" name="email" placeholder="Email">
							</fieldset>
							<fieldset class="form-group">
								<input type="password" class="form-control" id="input-password" name="password" placeholder="Password">
							</fieldset>
              <br>
						  <p class="signup-text">Made with ❤️at Ironhack Miami</p>
						  <button type="submit" class="btn-secondary">Signup</button>
						</form>
					</div>
					<img class="form-shadow" src="/theme/images/bottom-shadow.png" alt="" />
				</div><!-- Sign Up Form End -->

        {{#if errorMessage}}
          <div class="error-message">{{ errorMessage }}</div>
        {{/if}}

        {{!-- <svg class="arrows hidden-xs hidden-sm">
          <path class="a1" d="M0 0 L30 32 L60 0"></path>
          <path class="a2" d="M0 20 L30 52 L60 20"></path>
          <path class="a3" d="M0 40 L30 72 L60 40"></path>
        </svg> --}}
			</div>
		</section>

    <!-- Footer
    ================================================= -->
    <footer id="footer">
      <div class="container">
      	<div class="row">
          <div class="footer-wrapper">
            <div class="col-md-3 col-sm-3">
              <a href=""><img src="images/flow-logo.png" alt="flow-logo" class="navbar-brand" /></a>
              
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>Site Map</h6>
              <ul class="footer-links">
                <li><a href="">Home</a></li>
                <li><a href="">News</a></li>
                <li><a href="">Timeline</a></li>
                <li><a href="">Profile</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
             {{!-- empty div to maintain space --}}
            </div>
            <div class="col-md-2 col-sm-2">
              {{!-- empty div to maintain space --}}
            </div>
            <div class="col-md-3 col-sm-3">
                  <h6>Contact</h6>
                    <ul class="contact">
                      <li><i class="icon ion-ios-telephone-outline"></i>(305) 555-1234</li>
                      <li><i class="icon ion-ios-email-outline"></i>hello@flow.com</li>
                      <li><i class="icon ion-ios-location-outline"></i>120 SW 8th St, Miami, FL 33130</li>
                    </ul>
            </div>
          </div>
      	</div>
      </div>
      <div class="copyright">
        <p>Copyright MERNers ® All Rights Reserved</p>
      </div>
		</footer>
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>