body {
  padding: 0px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-secondary-login {
  background: linear-gradient(to bottom, rgba(109,110,113,1), rgba(0,0,0,1));
  padding: 0px 30px;
  border: none;
  min-height: 28px;
  font-size: 14px;
  border-radius: 20px;
  color: #fff;
  position: relative;
  outline: none;
}

.btn-secondary:hover {
	background: #000;
  transition: all 1s;
}

.login-input {
  min-width: 220px !important;
  margin-right: 10px !important;
  padding-left: 17px !important;
}

#banner {
  min-height: 700px !important;
}

.navbar-brand img {
  width: 110px !important;
}

.menu {
  min-height: 20px !important;
}

.body {
  padding: 0px !important;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

.form-group-main {
  width: 70% !important;
  margin-bottom: 15px !important;

}
.form-group-age {
  width: 25% !important;
  margin-bottom: 15px !important;

}

.form-group-address {
  width: 33% !important;
  margin-bottom: 15px !important;
}

.form-group-city {
  width: 50% !important;
  margin-bottom: 15px !important;
}

.header-button-profile {
  color: white !important;
}

.nav>li>a {
  color: white !important;
}

.anchor-button {
  margin-right: 15px;
}

.line-divider {
  margin-top:15px !important;
}

.modal-header {
  align-self: center !important; // align header center
}

.form-control-comment {
  display: block;
  width: 80% !important;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.no-margin {
  margin: 0 !important;
}

.post-content .post-container .post-detail .post-comment .form-control {
  margin-right: 10px;
}

.post-comment-button {
  height: 30px;
  margin-top: 7px;
}

.create-post .form-group {
  width: 100%;
}

.post-comment-action {
  margin-left: 50px;
}

.btn-upload {
  background: #27aae1;
  padding: 5px 20px;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  position: relative;
  font-weight: 600;
  outline: none;
  margin-left: 10px;
}

.btn-upload input {
  display: none;
}

.about-profile .about-content-block h4 i.icon-in-camera {
  margin-right: 15px;
  color: #27aae1;
}

.interest-modal-body {
width: 350px;
margin: 0 auto;
}

.btn-secondary-black {
  background: black;
  padding: 5px 20px;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  color: #fff;
  position: relative;
  font-weight: 600;
  outline: none;
}

.search-container {
  display: inline-flex;
  margin-bottom: 10px;
  width: 100%;
}

.search-container input {
  margin-right: 10px;
}

#page-contents {
  padding: 17px 0 50px !important;
}