body {
  padding: 0px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-secondary-login {
  background: linear-gradient(to bottom, rgba(109,110,113,1), rgba(0,0,0,1));
  padding: 0px 30px;
  border: none;
  min-height: 28px;
  font-size: 14px;
  border-radius: 20px;
  color: #fff;
  position: relative;
  outline: none;
}

.btn-secondary:hover {
	background: #000;
  transition: all 1s;
}

.login-input {
  min-width: 220px !important;
  margin-right: 10px !important;
  padding-left: 17px !important;
}

#banner {
  min-height: 700px !important;
}

.navbar-brand img {
  width: 110px !important;
}

.menu {
  min-height: 20px !important;
}

.body {
  padding: 0px !important;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

.form-group-main {
  width: 70% !important;
  margin-bottom: 15px !important;

}
.form-group-age {
  width: 25% !important;
  margin-bottom: 15px !important;

}

.form-group-address {
  width: 33% !important;
  margin-bottom: 15px !important;
}

.form-group-city {
  width: 50% !important;
  margin-bottom: 15px !important;
}

.header-button-profile {
  color: white !important;
}

.nav>li>a {
  color: white !important;
}